In [1]:
import rent_framing

In [2]:
rent_df = rent_framing.Housing('data_sets/city_zori_sm_month.csv')

In [3]:
rent_df.get_data()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2015-01-31,2015-02-28,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,2706.113852,2722.469436,...,3505.509863,3471.593438,3461.625164,3475.711219,3499.832082,3536.239358,3582.577411,3630.203713,3662.739126,3673.293420
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,1916.711003,1932.020915,...,2884.126630,2879.189424,2874.524024,2877.895744,2882.126893,2896.234088,2898.403256,2902.550527,2906.140596,2914.882294
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,1227.760103,1232.433781,...,1554.281601,1554.521882,1564.043753,1572.148208,1580.161487,1583.399333,1590.410446,1599.647960,1606.703457,1605.867104
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,1530.361178,1540.338040,...,1953.064826,1953.646579,1962.522541,1976.757761,1993.680918,2010.759661,2037.490175,2061.033574,2073.747889,2077.386237
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,1032.642802,1037.497784,...,1493.800605,1491.871288,1498.684926,1498.156679,1504.381964,1505.070811,1509.616318,1507.735889,1508.837254,1508.664662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3421,16007,20473,Surf City,city,NC,NC,"Wilmington, NC",Pender County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2650.000000
3422,6384,21163,Palm Beach Shores,city,FL,FL,"Miami-Fort Lauderdale-Pompano Beach, FL",Palm Beach County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2703.196026,2725.000000
3423,50196,21560,Quogue,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70000.000000
3424,124999,22469,Lake Hart,city,FL,FL,"Orlando-Kissimmee-Sanford, FL",Orange County,NaN,NaN,...,NaN,NaN,NaN,NaN,2132.573242,2100.511435,2125.977449,2167.174001,2177.262297,2145.416667
3425,46862,24288,Ogden,city,KS,KS,"Manhattan, KS",Riley County,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1200.000000